.search-form {
    input {
        width: 100%;
        display: block;
        border-radius: 5px;
        padding-left: 10px;
        border: 1px solid #ccc;
        margin-bottom: 25px;
        font-size: 20px;
        height: 40px;
    }
}

.item-wrapper {
    color: #000;

    .item-content {
        background-color: #fff;
        padding: 15px;
        border: 1px solid #000;
        margin-bottom: 10px;
        border-radius: 10px;
        text-align: center;

        .item-title {
            font-size: 24px;
            margin-top: 5px;
            margin-bottom: 0;
        }

        .item-text {
            margin-top: 0;
        }
    }
}