.header {
    background-color: #000 !important;
    height: 78px !important;
    padding-inline: 20px !important;
}

.logo {
    float: left;
    width: 120px;
    margin: 16px 24px 16px 0;
}

.menu {
    line-height: 78px !important;
    background-color: #000 !important;
}