@import "switch";

body {
    font-family: "Lato", sans-serif;
    background: #24325f;
    color: #fff;
}

h2 {
    color: #fff;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
}

.ok {
    color: #12b886;
}

.ko {
    color: #f03e3e;
}

.fa-spinner-loader {
    font-size: 100px;
}

.no-btn {
    background: none;
    border: 0 none;
    padding: 0;

    &:hover,
    &:focus,
    &:active {
        background: none;
        border: 0 none;
    }

    &.link-color {
        color: #0056b3;
    }
}

.trash {
    color: #f03e3e;
    opacity: 0.5;
    border: 0 none;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        background: transparent;
        border: 0 none;
        color: #f03e3e;
        opacity: 1;
    }
}

a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}